In [2]:
# This is a code cell.

This is a Markdown cell.

In [4]:
import pandas as pd
import seaborn as sns

insurance_df = pd.read_csv("insurance.csv")

In [6]:
print(insurance_df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
print(insurance_df.columns)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [11]:
just_age = insurance_df['age']

In [15]:
print(just_age)

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [17]:
print(just_age.sample(10))

1303    43
11      62
1012    61
274     25
947     37
846     51
1002    24
1100    33
126     19
542     63
Name: age, dtype: int64

In [18]:
print(insurance_df.head(10))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [19]:
age_and_child_info = insurance_df[['age', 'children']]

In [20]:
print(age_and_child_info.sample(20))

      age  children
1014   38         0
733    48         1
487    19         0
149    19         1
216    53         0
1143   39         2
976    48         0
67     40         1
603    64         3
637    35         2
774    41         2
484    48         3
528    46         1
12     23         0
392    48         1
914    33         2
347    46         1
166    20         5
1207   36         2
1148   55         1

In [21]:
print(just_age.head(10).mean())

34.1

In [22]:
print(just_age.mean())

39.20702541106129

In [28]:
print(int(insurance_df['children'].mean()))

1

In [29]:
print(int(insurance_df['age'].mean()))

39

In [30]:
age_and_charges_info = insurance_df[['age', 'charges']]

In [31]:
print(age_and_charges_info.sample(20))

      age      charges
304    57  12646.20700
564    18   2801.25880
389    24   4618.07990
1079   63  15161.53440
757    47  23065.42070
931    39   6238.29800
1213   52  10806.83900
1141   41   7954.51700
1219   38   7537.16390
905    26   4564.19145
290    28   3172.01800
653    45   8527.53200
263    19  36219.40545
289    52  25992.82104
887    36   5272.17580
353    33  12404.87910
484    48   9563.02900
1214   27   3956.07145
1255   42   6474.01300
334    43  19144.57652

In [32]:
print(insurance_df['charges'].mean())

13270.422265141257

In [33]:
print(insurance_df['charges'].nunique())

1337

In [34]:
print(insurance_df['age'].nunique())

47

In [35]:
# Get people in the 30-35 age group
between_30_and_35 = insurance_df[(insurance_df['age'] > 30) &
(insurance_df['age'] < 35 )]

In [36]:
# Print average(mean) charges for all people in the 30-35 age group
print(between_30_and_35['charges'].mean())

10839.408303333334

In [40]:
age_38 = insurance_df[(insurance_df['age'] == 38)]

In [41]:
print(age_38['children'].mean())

1.48

In [42]:
age_35 = insurance_df.query("age == 35")

In [43]:
print(age_35['children'].mean())

1.68

In [44]:
print(insurance_df.groupby('age')['charges'].mean())

age
18     7086.217556
19     9747.909335
20    10159.697736
21     4730.464330
22    10012.932802
23    12419.820040
24    10648.015962
25     9838.365311
26     6133.825309
27    12184.701721
28     9069.187564
29    10430.158727
30    12719.110358
31    10196.980573
32     9220.300291
33    12351.532987
34    11613.528121
35    11307.182031
36    12204.476138
37    18019.911877
38     8102.733674
39    11778.242945
40    11772.251310
41     9653.745650
42    13061.038669
43    19267.278653
44    15859.396587
45    14830.199856
46    14342.590639
47    17653.999593
48    14632.500445
49    12696.006264
50    15663.003301
51    15682.255867
52    18256.269719
53    16020.930755
54    18758.546475
55    16164.545488
56    15025.515837
57    16447.185250
58    13878.928112
59    18895.869532
60    21979.418507
61    22024.457609
62    19163.856573
63    19884.998461
64    23275.530837
Name: charges, dtype: float64

In [46]:
print(insurance_df.groupby('children')['charges'].mean())

children
0    12365.975602
1    12731.171832
2    15073.563734
3    15355.318367
4    13850.656311
5     8786.035247
Name: charges, dtype: float64