In [1]:
# Import pandas
import pandas as pd

In [2]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', sep=' ')

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`).  

 For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [12]:
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [21]:
# Compare the average income based on ethnicity.
print(df.groupby('Ethnicity')['Income'].mean())

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [22]:
# Compare the average income based on ethnicity.
print("The average income of African American is", df[df.Ethnicity == "African American"].loc[:,"Income"].mean())
print("The average income of Asian is",df[df.Ethnicity == "Asian"].loc[:,"Income"].mean())
print("The average income of Caucasian is", df[df.Ethnicity == "Caucasian"].loc[:,"Income"].mean())

The average income of African American is 47.68210101010099
The average income of Asian is 44.18783333333334
The average income of Caucasian is 44.521944723618084

In [26]:
# Compare the average balance based on mariage status.
print("Balance of single people", df[df.Married == "No"].loc[:,"Balance"].mean())
print("Balance of marriage people", df[df.Married == "Yes"].loc[:,"Balance"].mean())

# On average, do married or single people have a higher balance?
print("As per conclusion, Single people have a higher balance.")

Balance of single people 13.493509015134242
Balance of marriage people 13.388473477498913
As per conclusion, Single people have a higher balance.

In [30]:
#  What is the highest income in our dataset?
print("The highest income in the dataset is", df['Income'].max())

The highest income in the dataset is 186.634

In [29]:
# What is the lowest income in our dataset?
print("The lowest income in the dataset is", df['Income'].min())

The lowest income in the dataset is 10.354

In [34]:
# How many cards do we have recorded in our dataset?
print("There are", df['Cards'].sum(), "cards recorded in the dataset.")

There are 1183 cards recorded in the dataset.

In [43]:
# How many females do we have information for vs how many males?
# 207 females 
# 193 males
df.groupby(['Gender']).count()

,Balance,Income,Limit,Rating,Cards,Age,Education,Student,Married,Ethnicity
Gender,,,,,,,,,,
Female,207,207,207,207,207,207,207,207,207,207
Male,193,193,193,193,193,193,193,193,193,193

In [47]:
df[df.Gender == "Male"].count()

Balance      193
Income       193
Limit        193
Rating       193
Cards        193
Age          193
Education    193
Gender       193
Student      193
Married      193
Ethnicity    193
dtype: int64

In [50]:
df[df.Gender == "Female"].count()

Balance      207
Income       207
Limit        207
Rating       207
Cards        207
Age          207
Education    207
Gender       207
Student      207
Married      207
Ethnicity    207
dtype: int64